<mat-grid-list cols="4" gutterSize="2px" rowHeight="80px">
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>id FEN</mat-label>
    <input matInput type="text" > 
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" matTooltipPosition="after">
    <mat-label>Cuadrante</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Duración</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Comuna</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline" matTooltipPosition="after" >
    <mat-label>Nodo</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Cantidad de Servicios</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Fecha Solución</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Fecha Evento</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Clientes FEN</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
<mat-grid-tile>
  <mat-form-field appearance="outline">
    <mat-label>Impacto</mat-label>
    <input matInput >
          </mat-form-field>
</mat-grid-tile>
</mat-grid-list>